body{
    background-color: #000000;
}

main{
    min-height: calc(100% - 180px);
}

main .personagem{
    display: none;
    max-width: 450px;
    margin: auto;
}

main .personagem.selecionado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

main .personagem .imagem-aureola{
    width: 100px;
}

main .personagem .imagem-personagem{
    width: 200px;
    border-radius: 50%;
}

main .personagem:nth-child(4) .imagem-personagem{
    border: 3px solid #f0ba19;
}